/* 
.test-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .test-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
  }
  
  .ag-row {
    border-bottom: 1px solid lightgrey;
  }
  .ag-row-level-0 {
    background-color: #fff !important;
  }
  .ag-row-level-1 {
    background-color: #eee !important;
  }
  .ag-row-level-2 {
    background-color: #ddd !important;
  }
  .legend-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid darkgrey;
  }
  .legend-label {
    position: relative;
    top: -5px;
    margin-right: 20px;
  }
  .ag-header-cell {
    display: inline-flex;
    align-items: center;
    position: absolute;
    height: 100%;
    overflow: hidden;
    background: black;
    color: yellow;
}
.ag-header-viewport{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
}
.ag-theme-balham .ag-cell {
    background: rgb(0, 0, 0);
    color: whitesmoke;
}
.ag-center-cols-viewport {
    width: 100%;
    overflow-x: auto;
    background-color: black;
}
.ag-theme-balham .ag-header {
    background-color: black;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 600;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    border-bottom: 1px solid #BDC3C7;
}
.ag-theme-balham .ag-row {
    border-color: #d9dcde;
    background-color: black;
}

 */


 .grid-controls {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 0 16px 24px;

  igx-switch {
      margin-top: 24px;
  }

}

.grid__wrapper {
  margin: 0 16px;
}

.header-icon {
  font-size: 1.4em;
  width: 1.1em;
  height: 1.1em;
  float: right;
  cursor: pointer;
}

.header {
  height: 100%;
}

.igx-grid__th .title {
  width: 100%;
  cursor: auto;
}

 
