
    <!-- <nav  class="navbar navbar-default">
        <div  class="container-fluid">
            <ul  class="nav navbar-nav w-100">
                <li  class=" nav-item ml-3"><a routerlink="/" href="/HOPEQA/"><img
                             class="tool-name" src="./assets/images/logo.png"></a></li>
                             <li  class="nav-item "><a 
                                class="nav-link welcomeText"><span  class="wGreet">AR Automation</span></a></li>
                <li  class="nav-item pull-right"><a 
                        class="nav-link welcomeText"><span  class="wGreet">Welcome</span><i
                             class="fa fa-user"></i> Prasanth Pappu</a></li>
            </ul>
        </div>
    </nav> -->
  
    <!-- <nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-expand-xl">
        <img class="navbar-brand logo img-responsive ml-1" src="./assets/images/logo.png">
        <div class="collapse navbar-collapse justify-content-center" id="navbarContent">
            <ul class="nav navbar-nav ">
                <li class="nav-item">
                    <p class="nav-link">AR Automation
                </li>
                <li  class="nav-item pull-right"><a  class="nav-link welcomeText"><span
                    class="wGreet">Welcome</span><i  class="fa fa-user"></i>
               Prasanth Reddy</a></li>
            </ul>
        </div>
    </nav> -->
   
    <!-- <nav class="navbar navbar-default">
    <div  class="container-fluid col-12">
        <ul  class="nav navbar-nav w-100">
            <li class=" nav-item ml-3"><a  routerlink="/" href="/HOPEQA/"><img
                         class="tool-name" src="./assets/images/logo.png"></a></li>
            <li  class="nav-item pull-right"><a  class="nav-link welcomeText"><span
                         class="wGreet">Welcome</span><i  class="fa fa-user"></i>
                    Prasanth Pappu</a></li>
        </ul>
    </div>
</nav> -->
<!-- <nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-expand-xl">
    <img class="navbar-brand logo img-responsive ml-1" src="./assets/images/logo.png" width="60">
    <div class="collapse navbar-collapse justify-content-center">
        <ul class="nav navbar-nav ">
            <li class="nav-item">
                <p class="nav-link">AR Automation
            </li>
        </ul>
    </div>

        <ul class="nav navbar-nav ">
           
            <li  class="nav-item pull-right"><a  class="nav-link welcomeText"><span
                class="wGreet">Welcome</span><i  class="fa fa-user"></i>
           Prasanth Pappu</a></li>
            
        </ul>
   
</nav> -->

<app-subheader></app-subheader>


