<div class="profile-container">
   <div class="col-md-12 header">
      <div class="row col-md-6" style="align-items: center;margin-left: 1px;">
         <img style="cursor: pointer;" (click)="redirectToORG()" src="../../assets/icons/back.svg">
         <span class="cp-styles"> Capability Profile : </span>
         <div class="name-styles col-md-4">
            {{profile.name}}
         </div>
      </div>
      <div class="profile-subcontainer-styles">
         <div class="row">
            <div class="profile-name">
               PROFILE
            </div>
            <div class="profile-name">
               PERFORMANCE HISTORY
            </div>
         </div>
         <div class="profile-details-layout">
<div class="row">
   <img class="image-styles" src="{{profile.image}}">
   <div class=" profile-name-styles">
      {{profile.name}}
      <div class=" profile-details-styles">
         <span> GPN :</span> {{profile.gpn}}
         {{profile.emainID}}
          {{profile.designation}} <span>|</span>{{profile.role}}
       </div>
   </div>
   
   <div>

   </div>
</div>

         </div>
      </div>
   </div>
</div>