.subHeader{
    /* background-color: #f9f7f6; */
    height: 5vh;
     /* top | right | bottom | left */
    padding: 0em 3em 0em 5em;
   
}
.navbar-light .navbar-nav .nav-link {
    color:black
}
.nav-link{
    /* color: #3b3331; */
    font-family: verdana,Arial,sans-serif;
    line-height: 2vh;
    /* padding: 0.5rem 1rem 0rem 1rem; */
    padding: 0.5vw 1vw 0vw 1vw;
}
@media only screen and (max-width: 576px) { 
    .nav-item{
        padding: 1vh 2vh 1vh 1vh;
    }
    }
@media only screen and (min-width: 576px) { 
.nav-item{
    padding: 1vh 6vh 1vh 2vh;
}
}

.nav-link:hover{
   text-decoration: underline;
}

/* chip css */
.tabChip{
    display: inline-block;
    padding: 0 5vw;
    height: 6vh;
    font-size: 1em;
    line-height:5vh;
    border-radius: 0.5em;
    /* background-color: white; */
}

.closeBtn{
    padding-left: 10px;
    color: #000;
    font-weight: bold;
    float: right;
    font-size:2em;
    cursor: pointer;
}
      
.closeBtn:hover {
    color: #000;
} 
.titleText{
    font-size:1.1vw;
    /* padding: 1px; */
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 
.table{
    border-color: darkgray;
    border-width: 2px;
    border-bottom: yellow;
    border-bottom-width: 2px;
}