
<!-- <div class="row">

<div class="hero">
<div class="circle small">
  <h3>765</h3>
  <p>of 1000</p>
  
</div>
</div>

     
</div> -->

<!-- <div class="pie ml-4 mt-4 centerText"></div> -->

<!-- <svg  viewBox="0 0 32 32">
  <circle class="pie" r="16" cx="16" cy="16"   />
</svg> -->

<!-- 
<div #chartContainer id="chartContainer" style=" padding-top:10px; width:1100px; height:400px "></div> -->


    <div style=" border: 1px solid lightgrey; overflow: auto;">
       
      
        <div class="col-md-12">
        <div class="col-md-4 Org-styles" >
            ORGANIZATION CHART</div>
            <div class="search-suggestion-styles float-right" style="z-index: 1;">
              <!-- <ul class="filter-select">
                <li class="filter-select-list"  *ngFor="let name of searchedData">{{name}}
               </ul> -->
               <div *ngFor="let name of searchedData" (click)="checkSelectedSearch(name)" style="cursor: pointer; background-color: white;color: black;" value="option">{{name}}</div>
            </div>
           
          <div class="search-container col-md-4 float-right" style="align-items: flex-end;">
            <input class="float-right" type="text" placeholder="Search..."  (input)="searchThis()" [(ngModel)]="searchword">
            <div class="search"></div>
            
           
          </div>
      </div>
        <!-- <div class="chart-container" style=" background-image: linear-gradient(to right , #fcfaf8, #E3E7EC);padding-top:10px; width: 1200px; height:600px "> </div> -->
      <div class="chartContainer col-md-12 col-sm-12" #chartContainer id="chartContainer" style=" padding-top:10px; margin: 10px 20px 10px 50px; width:1200px; height:450px ;background-color: #FFFFFF;"> </div>
    </div>
  


        